target/
*.jar
*.war
*.ear
*.sql
*.xml
*.properties
*.yml
*.yaml
*.log
*.out
*.bak
*.tmp
*.swp
*.swo
*.swn
*.class
*.classpath
*.project
*.settings
*.iml
*.idea
*.DS_Store
.git
.gitignore
.gitattributes